@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: linear-gradient(var(--bg-color),rgb(85, 85, 231));
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--white-color);

}

:root {
  --bg-color: #050b31;
  --white-color: #fff;
  --dark-blue: #05053f;
  --light-blue: #8080f0;

  --transition: all 500ms ease
  
  
}
html {
  scroll-behavior: smooth;
}
.container {
margin: 0 auto;
}

section { 
  margin-top: 10rem;
  height: 100vh;
}

a{
  transition: var(--transition);
  color: var(--white-color);
}
a:hover {
  color: bisque;
}

.text-light {
  color: var(--light-blue);
}